<?xml version="1.0"?>

<!-- autoRallyControllerSpawner.launch -->

<launch>
  <arg name="cmd_timeout" default="0.5"/>
  <arg name="namespace" default="autorally_platform"/>

  <!-- Load the joint controllers. One of these publishes the joint states to joint_states. -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="$(find autorally_gazebo)/config/autoRallyPlatformJointCtrlrParams.yaml"/>

  <!-- Control the steering, axle, and shock absorber joints. -->
  <node name="autorally_controller" pkg="autorally_gazebo"
        type="autorally_controller.py" output="screen">
    <param name="cmd_timeout" value="$(arg cmd_timeout)"/>
    <rosparam file="$(find autorally_gazebo)/config/autoRallyPlatformCtrlrParams.yaml" command="load"/>
    <!--<rosparam param="servoCommandProirities" command="load" file="$(env AR_CONFIG_PATH)/servoCommandPriorities.yaml" / this file is missing?-->
  </node>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find autorally_gazebo)/custom_rosconsole.conf" />

  <!--node name="wheelSpeeds" pkg="autorally_gazebo" type="wheelSpeedsGazebo.py" output="screen" /Also missing-->


</launch>

